<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IDENTIFY</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<style>
    #wrapper {
        padding: 10px;
        background: #bab0e9;
        height: 350px;
        width:400px;
    }
    .center-screen {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .box-shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
</style>
<body background="{{url_for('static', filename='background.png')}}">
    <center><img src="{{url_for('static', filename='logo.png')}}" alt="Identify" width="400" height=auto></center>
    <div class="container-fluid">
        <div class="center-screen box-shadow" id="wrapper">
            <p class="text-center" style="font-weight:bold">CREATE A USERNAME AND JOIN A ROOM</p>

            <form action="/chat">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" id="username" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="room">Room</label>
                  <input type="text" name="room" class="form-control" id="room" autocomplete="off">
                </div>
                <div class="form-group">
                    <small class="text-muted">Want to join an already existing room?</small>
                    <div class="form-group">
                        <select id="existingRoom" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                  </div>
                <button type="submit" class="btn btn-primary btn-block">Let's Play!</button>
            </form>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>